<main>
    <% if( page === "/home"){%>
        <% include ../content/home %>
    <% } %>
    <% if( page === "/about"){%>
        <% include ../content/about %>
    <% } %>
    <% if( page === "/gallery"){%>
        <% include ../content/gallery %>
    <% } %>
    <% if( page === "/contact"){%>
        <% include ../content/contact %>
    <% } %>
</main>