    <div class="container">
        <div class="row">
            <div class="strike hide-on-med-and-down">
                <span><h3>Uncle Frank's Construction</h3></span> 
            </div>
            <div class="hide-on-large-only">
                <br /><br /><br /><br />
            </div>
        </div>
    </div>
    <slick dots="true" autoplay="true" autoplay-speed="5000" arrows="false">
        <div class="slide">
            <img src="/images/slider/main1.jpg" />
            <div class="col s12">
                <div class="caption justify">
                    <h5>Demolition</h5>
                    <hr />
                    <p>Write something awesome here about your company to let everyone know how awesome you are.</p>
                </div>
            </div>
        </div>
        <div class="slide">
            <img src="/images/slider/main1.jpg" />
            <div class="col s12">
                <div class="caption justify">
                    <h5>Construction</h5>
                    <hr />
                    <p>Write something awesome here about your company to let everyone know how awesome you are.</p>
                </div>
            </div>
        </div>
        <div class="slide">
            <img src="/images/slider/main1.jpg" />
            <div class="col s12">
                <div class="caption justify">
                    <h5>Cleaning</h5>
                    <hr />
                    <p>Write something awesome here about your company to let everyone know how awesome you are.</p>
                </div>
            </div>
        </div>
        <div class="slide">
            <img src="/images/slider/main1.jpg" />
            <div class="col s12">
                <div class="caption justify">
                    <h5>Carpentry</h5>
                    <hr />
                    <p>Write something awesome here about your company to let everyone know how awesome you are.</p>
                </div>
            </div>
        </div>
    </slick>
    <div class="container">
        <div class="row">
            <div class="col s12 m12 l12 justify">
                <h4>Our Promise</h4>
                <p>Write something awesome here about your company to let everyone know how awesome you are. Write something awesome here about your company to let everyone know how awesome you are. Write something awesome here about your company to let everyone know how awesome you are.</p>
            </div>
        </div>
    </div>