<!DOCTYPE html>

<html ng-app="kisCMS">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="/components/angular/angular.min.js"></script>
    <script src="/components/jquery/dist/jquery.min.js"></script>
    <script src=""></script>
  </head>
  <body>
    <% include partials/nav %>
    <% include partials/body %>
    <% include partials/footer %>
    <% include partials/scripts %>
  </body>
</html>
