<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="/js/lib/angular.min.js"></script>
    <script src="/js/lib/jquery.min.js"></script>
  </head>
  <body>
    <% include partials/nav %>
    <% include partials/body %>
    <% include partials/footer %>
    <% include partials/scripts %>
  </body>
</html>
